<!DOCTYPE html>

<%- include('../partials/head'); %>


<body class="container">

    <%- include('../partials/header', {pagina: 'sobre'}); %>
    

    <main>

        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>Duis interdum enim augue, ac dictum turpis finibus rutrum. 
                <br>Vivamus ac nisl sodales, fermentum eros eu, efficitur est. 
                <br>Duis tincidunt condimentum risus sed tincidunt. 
            </p>
        </div>

    </main>

    <%- include('../partials/footer'); %>
</body>


</html>